.box-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    width: 100%;

}

.root {
    height: 100vh;
    font-size: large;

    .myForm {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        input {
            width: 80%;
            max-width: 300px;
        }
        textarea {
          width: 80%;
          max-width: 600px;  
        }

        button {
             font-family: fantasy;
             background: black;
             font-size: large;
             color: aliceblue;
             border-radius: 15px;
             padding: 7px 20px;
             cursor: pointer;     
       }
    }

}


.content {

    height: 100vh;
    margin-top: 100px;
    color: red;
    text-align: center;
    font-size: 42px;
    font-weight: 800;
}

